<div class="footer">
    <table class="bg-light">
        <tr>
            <td class="align-center">
                <p>
                    <img src='http://www.jasonnallie.com/ocl/img/ce-logo.png' alt='ContinuingEducation Logo' />

                </p>

                <p class="font-smoke align-left">
                    Educational activity is provided by ContinuingEducation.com, a member of the OnCourse Learning family of websites and publications, which include Nurse.com, Nutrition Dimension, Today in PT, Today in OT and the premier corporate education solution, CE Direct. To view accreditation statements, goals and objectives, visit courses online.
                </p>
            </td>
        </tr>
    </table>
    <table class="{{ type }}">
        <tr>
            <td class="align-center">

                    <p class="{{ color }}">
                        <a href="{{ default.unsubscribe_url }}">
                            <unsubscribe class="{{ color }}">Unsubscribe / Update Email Settings</unsubscribe>
                        </a>
                        <br> {{{ address }}}
                    </p>

            </td>
        </tr>
    </table>
</div>
