<div class="footer">
    <table class="bg-light">
        <tr>
            <td class="half align-left company-logo">
                <img src='http://www.jasonnallie.com/ocl/img/proschools-logo.png' alt='ProSchool Logo' />
            </td>
            <td class="half align-right company-info">
                <span class="font-blue">
                    proschools.com <br>
                    800-299-2207
                </span>
            </td>
        </tr>
    </table>
    <table class="{{ type }}">
        <tr>
            <td class="align-center">

                    <p class="{{ color }}">
                        <a href="{{ default.unsubscribe_url }}">
                            <unsubscribe class="{{ color }}">Unsubscribe / Update Email Settings</unsubscribe>
                        </a>
                        <br> {{{ address }}}
                    </p>

            </td>
        </tr>
    </table>
</div>
